* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body{
    background-color: #080808;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;

    &-thumb {
        border-radius: 10px;
        background-color:rgba(255, 183, 0, 0.507) ;
    }
}

.cursor__area {
    position: fixed;
    width: 70px;
    height: 70px;
    border: 1px solid #ffffff7e;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor__ponto {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color:  #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

$fonteTitulos: 'Bebas Neue', sans-serif;
$fonteTexto: 'Oswald', sans-serif;
$corDeTextoSecundaria: goldenrod;
$corDeTextoPrincipal: #fff;
$fonteSizeTitulos: 46px;
$fonteSizebotoes: 26px;
$fonteSizeTexto: 30px;

#btnIniciar {
    opacity: 1;
    border:none;
    height: 100px;
    width: 250px;
    display: block;
    margin: 25% 44%;
    transition: all 0.3s ease;
    font-family: $fonteTitulos;
    color: $corDeTextoSecundaria;
    background-color: transparent;
    font-size: $fonteSizebotoes + 40px;

    &:hover {
        border-bottom: 3px solid goldenrod;
    }

    &.fade__button {
        opacity: 0;
        display: none;
    }
}

#loading__page {
    display: none;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.fade__loading__in {
        display: block;
    } 
    
    &.fade__loading__out {
        display: none;
    }
    
    & span{
        top: 75px;
        position: absolute;
        letter-spacing: 12px;
        font-family: $fonteTitulos;
        font-size: $fonteSizebotoes - 6px;
        color: $corDeTextoSecundaria;
    }
}

.circle {
    left: 15%;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0%{
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100%{
        top: 0%;
    }
}

.circle:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow{
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(29, 29, 29, 0.671);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0%{
        transform: scaleX(1.5);
    }

    40%{
        opacity: .7;
        transform: scaleX(1);
    }

    100%{
        opacity: .4;
        transform: scaleX(.2);
    }
}

.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

#content {
    opacity: 0;
    display: none;

    &.fade {
        opacity: 1;
        display: block;
    }
}

#cabecalho {
    top: 0;
    width: 99vw;
    height: 6vh;
    position:fixed;
    color: $corDeTextoPrincipal;
    backdrop-filter: blur(20px);
    background-color: transparent;

    & nav {

        & ul {
            margin: -10px auto;
            display: flex;
            max-width: 550px;

            & li {
                margin: -10px auto;
                list-style: none;
                padding-top: 20px ;
                
                & a {
                    font-size: 20px;
                    text-decoration: none;
                    color: $corDeTextoPrincipal;
                }
            }
        }
    }
}

#pagina__inicial {
    height: 70vh;
    width: 90vw;
    padding-right: 90%;
    margin: 10% auto;
    border: 2px solid #494949;
    
    .name {
        width: 500px;
        letter-spacing: 7px;
        margin: 150px 200px;
        font-family: $fonteTitulos;
        color: $corDeTextoPrincipal;
        font-size: $fonteSizeTitulos + 10px;
    
        &:hover {
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid goldenrod;
        }
    }
    
    .ver__projetos {
        height: 50px;
        width: 200px;    
        margin: 0 200px;
        border-radius: 50px;
        font-family: $fonteTexto;
        font-size: $fonteSizebotoes;
        background-color: #2b2a2a52;
    
        & a {
            text-decoration: none;
            color: $corDeTextoSecundaria;
        }
    }
}

#sobre__mim {
    height: 90vh;
    width: 99vw;
    display: flex;
    background-image: linear-gradient(#080808d0, #070f1b42 );
    
    .texto__sobre__mim{
        height: 88vh;
        width: 40vw;
        margin: auto;
        border-radius: 10px;
        color: $corDeTextoPrincipal;
        border: 1px solid goldenrod;
        box-shadow: cadetblue 2px 1px 20px 2px;
        background-color: rgba(0, 0, 0, 0.171);
    
        & h1{
            padding: 50px 0;
            letter-spacing: 5px;
            text-align: center;
            font-family: $fonteTitulos;
            font-size: $fonteSizeTitulos;
        }
    
        & p {
            color: silver;
            letter-spacing: 2px;
            padding: auto;
            font-size: 14px;
            font-family: $fonteTexto;
        }
    }
    
    
    .tecnologias{
        height: 88vh;
        width: 40vw;
        margin: auto;
        border-radius: 10px;
        color: $corDeTextoPrincipal;
        border: 1px solid goldenrod;
        box-shadow: cadetblue 2px 1px 20px 2px;
        background-color: rgba(0, 0, 0, 0.171);
    
        & h1{
            padding: 50px 0;
            letter-spacing: 5px;
            text-align: center;
            font-family: $fonteTitulos;
            font-size: $fonteSizeTitulos;
        }
    
        & p {
            color: silver;
            letter-spacing: 2px;
            padding: 10px 100px;
            font-size: 14px;
            font-family: $fonteTexto;
        }
    
        & ul {
    
            display: flex;
            list-style: none;
            margin-top: 24%;
            justify-content: space-evenly;
    
            & li {
    
                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

#projetos{
    width: 99vw;
    text-align: center;
    background-color: #070f1b42;

    & h1{
        padding: 80px 0;
        letter-spacing: 5px;
        font-family: $fonteTitulos;
        color: $corDeTextoPrincipal;
        font-size: $fonteSizeTitulos;
    }

    & .container {
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        & .card__projetos{
            width: 800px;
            height: 600px;
            display: flex;
            margin: 100px 0;
            padding: 70px 80px;
            border-radius: 50px;
            backdrop-filter: blur(10px);
            background-color: #5c6e6e25;
            border: rgba(192, 192, 192, 0.288) 1px solid;

            & .painel__projetos {
                min-width: 300px;
            }
            
            & img{
                width: 300px;
                height: 450px;
                border-radius: 30px;
            }

            & .conteudo__projetos{
                text-align: start;
                padding: 10px 40px;

                & h1{
                    color: $corDeTextoPrincipal;
                    font-family: $fonteTitulos;
                    margin: 0 40px;
                }
    
                & p{
                    margin: 0 40px;
                    height: 110px;
                    width: 300px;
                    font-size: $fonteSizeTexto - 5px;
                    font-family: $fonteTexto;
                    color: $corDeTextoPrincipal;
                    position: relative;
                }

                & .icones__projetos{
                    display: flex;
                    margin-right: 50px;
                    height: 50px;
                    width: 300px;
                    justify-content: space-evenly;

                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }
}

#contato {
    background-color: #0a152742;
    width: 99vw;
    display: flex;
    margin: auto;

    img {
        height: 55px;
        width: 55px;
    }
    
    & .area__de__contato {
        margin: 0 15%;
        padding-top: 120px;

        h4 {
            color: #F92672;
            padding-bottom: 48px;
            font-size: $fonteSizeTitulos;
            font-family: $fonteTitulos;
        }

        p {
            color: $corDeTextoPrincipal;
        }

        h5 {
            color: $corDeTextoPrincipal;
            padding: 58px 0;
            color: #F92672;
            font-size: $fonteSizebotoes;
            font-family: $fonteTitulos;
        } 

        li {
            list-style: none;
            margin-left: -36px;
            padding: 10px 0;

            a {
                text-decoration: none;
                display: flex;

                & .informacoes__contato {

                    p {
                        margin: 3px 0;
                    }
                }
            }
        }
    }
}

.formulario {
    display: flex;
    padding: 80px 100px;
    
    form {
    
        h2 {
            color: #F92672;
            text-align: center;
            font-size: $fonteSizeTitulos;
            font-family: $fonteTitulos;
        }
        
        & p {
            color: $corDeTextoPrincipal;
            margin-top: 10%;
            font-family: 'Raleway', sans-serif;
        }
        
        & input {
            background: #1A1836;
            height: 30px;
            width: 350px;
            border: none;
            color: $corDeTextoPrincipal;
            margin-top: 2%;
            border-radius: 2px;
        }
        
        & textarea {
            background: #1A1836;
            border-radius: 2px;
            margin-top: 2%;
            color: white;
            height: 150px;
            width: 350px;
            border: none;
            resize: none;
        }
        
        & button {
            display: block;
            color: $corDeTextoPrincipal;
            font-family: $fonteTitulos;
            letter-spacing: 5px;
            font-size: 20px;
            background: #F92672;
            height: 40px;
            width: 200px;
            border: none;
            cursor: pointer;
            margin: 10% auto;
            
            &:hover {
                background: #79002c;
            }
        }
    } 
}

//Telas de notebook
@media screen and (min-width: 768px) and (max-width: 1367px) {

    #btnIniciar {
        display: flex;
        margin: 54vh auto;
        justify-content: center;
        align-items: center;
    }

    #pagina__inicial {
        
        .name {
            margin: 150px 80px;
        }
        
        .ver__projetos { 
            margin: 0 80px;
        }
    }

    #sobre__mim {
        height: 100%;
        padding-bottom: 10px;
        display: block;
        
        .texto__sobre__mim{
            width: 85vw;
            margin: 300px auto;
        }
        
        
        .tecnologias{
            width: 85vw;
            margin: 300px auto;
        }
    }

    #projetos{
        width: 99vw;
        text-align: center;
        background-color: #070f1b42;
    
        & h1{
            padding: 80px 0;
            letter-spacing: 5px;
            font-family: $fonteTitulos;
            color: $corDeTextoPrincipal;
            font-size: $fonteSizeTitulos;
        }
    
        & .container {
            
            & .card__projetos{
                width: 90vw;
                padding: 70px 40px;

                a {
                    margin: 0 auto;

                    & .painel__projetos {
                        min-width: 300px;
                    }
                }
    
                
                & img{
                    width: 300px;
                    height: 450px;
                    border-radius: 30px;
                }
    
                & .conteudo__projetos{
                    text-align: start;
                    padding: 10px 0;
                    width: 390px;
    
                    & h1{
                        height: 300px;
                        width: 100px;
                        color: $corDeTextoPrincipal;
                        font-family: $fonteTitulos;
                        margin: 0 40px;
                    }
        
                    & p{
                        height: 150px;
                        width: 50px;
                        margin: 0 40px;
                        height: 110px;
                        width: 300px;
                        font-size: $fonteSizeTexto - 5px;
                        font-family: $fonteTexto;
                        color: $corDeTextoPrincipal;
                        position: relative;
                    }
    
                    & .icones__projetos{
                        display: flex;
                        margin-right: 50px;
                        height: 50px;
                        width: 300px;
                        justify-content: space-evenly;
    
                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}
//Telas de tablet
@media screen and (min-width: 426px) and (max-width: 767px) {
    #btnIniciar {
        display: flex;
        margin: 54vh auto;
        justify-content: center;
        align-items: center;
    }

    #pagina__inicial {

        .name {
            margin: 150px 80px;
        }
        
        .ver__projetos { 
            margin: 0 80px;
        }
    }

    #sobre__mim {
        height: 100%;
        display: block;
        margin-top: 300px;
        padding-bottom: 10px;
        
        .texto__sobre__mim{
            margin: 20% auto;
            height: 90vh;
            width: 90vw;
        
            & p {
                letter-spacing: 2px;
                padding: 10px 100px;
            }
        }
        
        
        .tecnologias{
            margin: 20% auto;
            height: 80vh;
            width: 90vw;
        
            & p {
                letter-spacing: 2px;
                padding: 10px 100px;
            }
        
            & ul {
        
                display: flex;
                list-style: none;
                margin-top: 24%;
                justify-content: space-evenly;
        
                & li {
        
                    img {
                        height: 40px;
                        width: 40px;
                    }
                }
            }
        }
    }

    #projetos{
    
        & .container {
            
            & .card__projetos{
                width: 90vw;
                padding: 20px 40px;
                display: block;

                a {
                    margin: 0 auto;
                    
                    & .painel__projetos {
                        min-width: 100px;
                    }
                }
    
                
                & img{
                    height: 300px;
                    width: 260px;
                    border-radius: 30px;
                }
    
                & .conteudo__projetos{
                    text-align: start;
                    padding: 10px 0;
                    height: 250px;
                    width: 320px;
    
                    & h1{
                        height: 100px;
                        width: 300px;
                        color: $corDeTextoPrincipal;
                        font-family: $fonteTitulos;
                        margin: 0 40px;
                        padding: 0;
                        font-size: 40px;
                    }
        
                    & p{
                        font-size: 20px;
                        height: 50px;
                        width: 300px;
                        margin: 16px 40px;
                        font-size: $fonteSizeTexto - 5px;
                        font-family: $fonteTexto;
                        color: $corDeTextoPrincipal;
                        position: relative;
                    }
    
                    & .icones__projetos{
                        display: flex;
                        margin-top: 50px;
                        margin-right: 50px;
                        height: 50px;
                        width: 300px;
                        justify-content: space-evenly;
    
                        img {
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    #contato {
        display: block;
        width: 99vw;
    
        img {
            margin: 0 20px 0 0;
        }
        
        .formulario {
            display: block;
            padding: 80px 60px;
        }

    } 
}

//Telas de celular
@media screen and (min-width: 320px) and (max-width: 425px) {

    #btnIniciar {
        display: flex;
        margin: 44vh auto;
        justify-content: center;
        align-items: center;
    }

    #content {
        opacity: 0;
        display: none;
    
        &.fade {
            opacity: 1;
            display: block;
        }
    }
    
    #cabecalho {
        position:sticky;
    }
    
    #pagina__inicial {
        height: 70vh;
        width: 90vw;
        margin: 10% auto;
        border: 2px solid #494949;
        
        .name {
            width: 200px;
            margin-left: 30px;
            font-size: 30px;
        }
        
        .ver__projetos {
            height: 40px;
            width: 150px;    
            margin: 20px 45px;
        }
    }

    #sobre__mim {
        height: 100%;
        display: block;
        padding-bottom: 100px;
        
        .texto__sobre__mim{
            width: 90vw;
            margin-top: 150px;
        
            & p {
                letter-spacing: 2px;
                padding: 10px;
                font-size: 10px;
            }
        }
        
        
        .tecnologias{
            height: 56vh;
            width: 90vw;
            margin-top: 150px;
        
            & p {
                letter-spacing: 2px;
                padding: 10px;
                font-size: 10px;
            }

            & ul {
                padding: 0;
                justify-content: space-evenly;
        
                & li {
        
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }

    #projetos{
        padding-bottom: 100px;
        & .container {
            display: flex;
            
            & .card__projetos{
                width: 90vw;
                height: 600px;
                display: block;
                margin: 100px auto;
                padding: 0;
                
                & a {
                    height: 100px;
                    width: 30px;

                    & .painel__projetos {
                        height: 300px;
                        width: 250px;
                        min-width: 250px;
                        margin-top: 6%;
                    }
                }
                
    
                & .conteudo__projetos{
                    text-align: start;
                    padding: 10px 25px;
                    width: 250px;
    
                    & h1{
                        height: 100px;
                        width: 250px;
                        margin: 10% 0;
                        padding: 0;
                        font-size: 40px;
                    }
        
                    & p{
                        height: 80px;
                        width: 250px;
                        margin: 0;
                        padding: 0;
                        font-size: 20px;  
                    }
    
                    & .icones__projetos{
                        margin: 0;
                        height: 50px;
                        width: 250px;
                        align-items: start;
    
                        img {
                            height: 40px;
                            width: 40px;
                            align-items: start;
                        }
                    }
                }
            }
        }
    }

    #contato {
        display: block;
        
        & .area__de__contato {
            margin: 0 15%;
            padding-top: 120px;
    
            p {
                width: 200px;
                margin: 0;
                padding-left: 15px;
            }

            img {
                height: 35px;
                width: 35px;
            }
        }

        .formulario {
            display: block;
            padding: 80px 0;
            
            form {
                padding: 20px 30px;
                
                & p {
                    margin: 50px 0 0 0;
                    width: 250px;
                }
                
                & input {
                    width: 250px;
                }
                
                & textarea {
                    width: 250px;
                }
            } 
        }
    }
}